<table class="profile">
	<tr>
		<td class="sidebar round">
			<strong>Name</strong> <%= link_to @user.username, @user %><br />
			<strong>E-mail</strong> <%= @user.email %><br />
			<strong>Posts</strong> <%= @user.posts.count %>
			<%= link_to "Downloads", :downloads %>
		<br>
			<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %> | <%= link_to 'write', :send_message%>
		</td>
	</tr>
</table>

