<p id="notice"><%= notice %></p>

<p>
  <b>File:</b>
  <%= link_to "#{@file.name}",upload_url(@file) %>
</p>

<p>
  <b>Name:</b>
  <%= @file.name %>
</p>

<p>
  <b>Description:</b>
  <%= @file.description %>
</p>

<%= link_to 'Edit', edit_upload_path(@file) %> |
<%= link_to 'Back', uploads_path %>
