  <header>
    <%= image_tag("logo.png", :alt => "Ruby School", :class => "round") %>
        <nav class="round">
          <ul>
	
		<% if current_user %>
			<li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
			<li><%= link_to "Logout", :logout %></li>
			<li><%= link_to "my_downloads", :downloads %></li>
		 <% else %>
			<li><%= link_to "Register", new_user_path %></li>
			<li><%= link_to "Login", :login %></li>
		<% end %>
          </ul>
        </nav>
      </header>
