<!DOCTYPE html>
<html>

	<%= render 'layouts/style_and_meta' %>

  <body>
 <div class="container">

  <header>
   <%= image_tag("logo.png", :alt => "Ruby School", :class => "round") %>
        <nav class="round">
          <ul>
			<li><%= link_to "Главная", root_path %></li>
			<li><%= link_to "Пользователи", :userslist %></li>
		<% if current_user %>
			<li><%= link_to "Профиль", edit_user_path(current_user.id) %></li>
			<li><%= link_to "Выход", :logout %></li>
			<li><%= link_to "Загрузки", :downloads %></li>
			<li><%= link_to "Избранное", :my_downloads %></li>
				 
		<% else %>
			<li><%= link_to "Регистрация", new_user_path %></li>
			<li><%= link_to "Вход", :login %></li>
		<% end %>
          </ul>
        </nav>
      </header>
	  
	<div>
		<p id="notice"><%= notice %></p>
		<p id="alert"><%= alert %></p>
	</div>
  
	<section class="round">
		<%= yield %>
	</section>
</div>

<div>
<br>
<% if current_user %><% else %>
<%= link_to "Регистрация", new_user_path, :class => "signup_button round" %>
<% end %>
</div>
</body>
</html>
